<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063429749538-3vbpbhl9r0dfqv0qirp6kbguqr1cn3p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063429749538-3vbpbhl9r0dfqv0qirp6kbguqr1cn3p1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1063429749538-g4mbccnvmnhmuno5fcvuo1018gaqlkfh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFFtBah7N2OJ_xtKcy_KHo6Gw-UqV7e9A</string>
	<key>GCM_SENDER_ID</key>
	<string>1063429749538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApplication</string>
	<key>PROJECT_ID</key>
	<string>social-application-9959d</string>
	<key>STORAGE_BUCKET</key>
	<string>social-application-9959d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063429749538:ios:2fd6efd3022dd987f2c37b</string>
</dict>
</plist>